{% load static i18n %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Decide!{% endblock %}</title>
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <h1>¡Decide!</h1>
		{% if user.is_authenticated %}			
		<ul class="nav navbar-nav">
			<li><a href="{% url 'home' %}">Inicio</a></li>	
            <li><a href="{% url 'view_profile' %}">Perfil personal</a></li>
            <li><a href="{% url 'edit_profile' %}">Editar datos personales</a></li>
			<li><a href="{% url 'change_password' %}">Cambiar contraseña</a></li>
			<li><a href="{% url 'logout' %}">Cerrar sesión</a> </li>
            <li><strong> Estas autentificado como {{ user.username }}</strong> </li>
        </ul>			
		{% else %}
		<ul class="nav navbar-nav">
			<li><a href="{% url 'home' %}">Inicio</a></li>	
			<li><a href="{% url 'login' %}">Iniciar sesión</a></li>
			<li><a href="{% url 'signup' %}">Registro</a></li>
		</ul>
		{% endif %}
		<hr>
		{% block content %}

		<form action="{% url 'set_language' %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="next" value="{{ redirect_to }}" />
			<div class="col s12 language1">
				<select class="browser-default "name="language" onchange="this.form.submit()">
					{% get_current_language as LANGUAGE_CODE %}
					{% get_available_languages as LANGUAGES %}
					{% for lang in languages %}
						<option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected disabled hidden {% endif %}>
							{{ lang.1 }}
						</option>
					{% endfor %}
				</select>
			</div>
		</form>

		{% endblock %}	

        {% block extrabody %}{% endblock %}
    </body>
</html>
