{% extends 'base.html' %}

{% block content %}
  <h2>Sesiones de redes sociales</h2>	
  <p>Puedes cerrar sesión de algunas redes sociales, pero <strong>para cerrar tu sesión en esta web como usuario tendrás que acceder a <a href="{% url 'logout' %}">cerrar sesión</a></strong></p>
  <h3>GitHub</h3>
  {% if github_login %}
    <p>Conectado como <a href="https://github.com/{{ github_login.extra_data.login }}/" target="_blank">{{ github_login.extra_data.login }}</a> mediante GitHub</p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'github' %}">
        {% csrf_token %}
        <button type="submit">Desconectarte de GitHub</button>
      </form>
    {% else %}
      <button type="button" disabled>Desconectarte de GitHub</button>
      <p style="color: red">Debes <a href="{% url 'password' %}">crear una contraseña</a> para tu cuenta antes de desconectarte.</p>
    {% endif %}
  {% else %}
    <a href="{% url 'social:begin' 'github' %}">Conectarse a GitHub</a>
  {% endif %}
  
   <h3>Google</h3>
  {% if google_login %}
    <p>Conectado mediante cuenta de Gmail</p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'google-oauth2' %}">
        {% csrf_token %}
        <button type="submit">Desconectarte de Google</button>
      </form>
    {% else %}
      <button type="button" disabled>Desconectarte de Google</button>
      <p style="color: red">Debes <a href="{% url 'password' %}">crear una contraseña</a> para tu cuenta antes de desconectarte.</p>
    {% endif %}
  {% else %}
    <a href="{% url 'social:begin' 'google-oauth2' %}">Conectarse a Google</a>
  {% endif %}

  <h3>Facebook</h3>
  {% if facebook_login %}
    <p>Connected as <a href="https://facebook.com/{{ facebook_login.extra_data.id }}/" target="_blank">{{ facebook_login.extra_data.id }}</a></p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
        {% csrf_token %}
        <button type="submit">Desconectarte de Facebook</button>
      </form>
    {% else %}
      <button type="button" disabled>Desconectarte de Facebook</button>
      <p style="color: red">Debes <a href="{% url 'password' %}">crear una contraseña</a> para tu cuenta antes de desconectarte.</p>
    {% endif %}
  {% else %}
    <a href="{% url 'social:begin' 'facebook' %}">Conectarse a Facebook</a>
  {% endif %}

{% endblock %}