{% extends 'base.html' %}
{% load i18n %}

{% block content %}


	<h2>{% trans "Login" %}</h2>

	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">{% trans "Submit" %}</button>		
	
	<p>-- {% trans "You can access to the following " %} <strong>{% trans "social networks " %} </strong>{% trans "as a user" %}--</p>
	<a href="{% url 'social:begin' 'github' %}">
		<button style="height:50px;width:200px" id="github" type="button" name="button" class="btn btn-block btn-social btn-github">
			<span class="fa fa-github"></span>Github
		</button></a>
	<a href="{% url 'social:begin' 'google-oauth2' %}">
		<button style="height:50px;width:200px" id="google" type="button" name="button" class="btn btn-block btn-social btn-google">
			<span class="fa fa-google"></span>Google
		</button></a>
    	<a href="{% url 'social:begin' 'facebook' %}">
		<button style="height:50px;width:200px" id="facebook" type="button" name="button" class="btn btn-block btn-social btn-facebook">
			<span class="fa fa-facebook"></span>Facebook
		</button></a>
	<a href="{% url 'social:begin' 'reddit' %}">
		<button style="height:50px;width:200px" id="reddit" name="reddit" type="button" class="btn btn-block btn-social btn-reddit">
			<span class="fa fa-reddit"></span>Reddit
		</button></a>
	<a href="{% url 'social:begin' 'box' %}">
        <button style="height:50px;width:200px" id="box" type="button" name="button" class="btn btn-block btn-social btn-dropbox">
	       <span class="fa fa-dropbox"></span>Box
        </button></a>
		

	</form>
	<br>
	<script async src="https://telegram.org/js/telegram-widget.js?7" data-telegram-login="Decide_auth_bot" data-size="large" data-auth-url="https://authmoltres.herokuapp.com/authentication/oauth/complete/telegram" data-request-access="write"></script>
	
{% endblock %}	

