{% extends 'base.html' %}

{% block content %}

	<h2>Inicio de sesión</h2>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Enviar</button>		
	
	<p>-- Puedes acceder como usuario desde las siguientes <strong>redes sociales</strong>--</p>
	<a href="{% url 'social:begin' 'github' %}">
		<button id="github" type="button" name="button" class="boton_social">Github</button>	
	</a>
	<a href="{% url 'social:begin' 'google-oauth2' %}">
		<button id="google" type="button" name="button" class="boton_social">Google+</button>	
	</a>
    	<a href="{% url 'social:begin' 'facebook' %}">
		<button id="facebook" type="button" name="button" class="boton_social">Facebook</button>	
	</a>
	<a href="{% url 'social:begin' 'reddit' %}">
		<button id="reddit" type="button" name="button" class="boton_social">Reddit</button>	
	</a>
	</form>
	
{% endblock %}	

