{% extends 'base.html' %}

{% block content %}

	<h2>Inicio de sesión</h2>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Enviar</button>		
	
	<p><strong>-- O --</strong></p>
	<a href="{% url 'social:begin' 'github' %}">
		<button type="button" name="button" class="btn btn-primary">Github</button>	
	</a>
	<a href="{% url 'social:begin' 'google-oauth2' %}">
		<button type="button" name="button" class="btn btn-danger">Google+</button>	
	</a>
    	<a href="{% url 'social:begin' 'facebook' %}">
		<button type="button" name="button" class="btn btn-danger">Facebook</button>	
	</a>
	<a href="{% url 'social:begin' 'reddit' %}">
		<button type="button" name="button" class="btn btn-danger">Reddit</button>	
	</a>
	<a href="{% url 'social:begin' 'spotify' %}">
		<button type="button" name="button" class="btn btn-danger">Spotify</button>	
	</a>
	</form>
	
{% endblock %}	

